




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  background-color: #1d2a35;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin: 0 0.4rem ;
}

.left{
  color: #dddddd;
  background-color: transparent;
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  font-weight: 600;
  border: none;
  padding: 1.5rem 1rem;
  cursor: pointer;
}

.leftbtns{
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightbtns{
  margin-right: 1rem;

}
.log_in {
  padding: 0.6rem 2.5rem;
  background-color: #04AA6D;
  color: #fff;
}
.Website{
  padding: 0.6rem 1.2rem;
  color: #000000ed;
  background-color: #fff4a3;
}
.certified{
  padding: 0.6rem 1.2rem;
  color: #000000ed;
  background-color: #ffc0c7;
}
.pro{
  padding: 0.6rem 1rem;
  color: #000000ed;
  background-color: #ffffff;
}



.left:hover{
  background-color: #04AA6D;
  color: #ffffff;
}

/* .fa-solid{
  font-size: 1.2rem;
  margin-right: 1.2rem;
  color: #dddddd;
  cursor: pointer;
}

.fa-solid:hover{
  color: #04AA6D;
} */

.image{
  width: 45px;
  margin-right: 1rem;
  cursor: pointer;
}